.footer {
  padding: 2rem 0;
  background-size: cover;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding-left: 140px;
}

.footer p {
  font-size: 0.85rem;
}

.footer a {
  text-decoration: none;
  font-weight: 700;
}
