extends layout

block content
  script(src="/js/connectAdAccount.js")
  .short-page-container
    .primary-section
      .title-text Connect Your Ad Account
      .main-input-block
        div#connectAdAccount
          h3#loading(style="text-align: center;") Connecting to your account...
          ul#pages
