extends layout

block content
  script(src="/js/connectPage.js")
  .short-page-container
    .primary-section
      .title-text Select Your Business Page
      .main-input-block
        div#connectPage
          h3#loading(style="text-align: center;") Connecting to your account...
          ul#pages
