extends layout

block content
  main
    #header
      .logo
        a(href="/auth/home")
          img(src="/images/logo-white.png")
      div
        ul
          li
            a(href="/auth/start") Sign Up
          li
            a(href="/auth/login") Login
    .short-page-container
      .primary-section
        .title-text Log In
        form.main-input-block
          div
            input#email(type="email", name="email", placeholder="Email")
          div
            input#pass(type="password", name="password", placeholder="Password")
          div
            input.form-submit(type="submit", value="Submit")
        
      script(src="/js/login.js")
      
