extends layout

block content
  div
    .short-page-container
      .primary-section
        .title-text Complete Your Account
        form.main-input-block
          div
            label(for="email") Email
            input#email(type="email", name="email")
          div
            label(for="pass") Password
            input#pass(type="password", name="pass")
          div
            label(for="confirm") Confirm Password
            input#confirm(type="password", name="confirm")
          div
            input(type="submit", value="Submit")
        
    script(src="/js/signup.js")
